.metadata
.recommenders
RemoteSystemsTempFiles/

Gerenciador-de-Cursos/bin
Gerenciador-de-Cursos/.settings
Gerenciador-de-Cursos/.classpath
Gerenciador-de-Cursos/.project

#bin
#.settings
#.classpath
#.project
